/*___________________________________[vazir]____________________________________*/
  @font-face {
	font-family: 'Vazir';
	font-weight: 900;
	src: url('../fonts/vazir/Vazir-Black-FD.eot'); /* IE9 Compat Modes */  
	src: url('../fonts/vazir/Vazir-Black-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/vazir/Vazir-Black-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/vazir/Vazir-Bold-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/vazir/Vazir-Light-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
	font-family:'Vazir';
	src: url('../fonts/vazir/Vazir-Bold-FD.eot'); /* IE9 Compat Modes */
	src: url('../fonts/vazir/Vazir-Bold-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/vazir/Vazir-Bold-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/vazir/Vazir-Light-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/vazir/Vazir-Medium-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
	font-family: 'Vazir';
	font-weight: 500;
	src: url('../fonts/vazir/Vazir-Medium-FD.eot'); /* IE9 Compat Modes */
	src: url('../fonts/vazir/Vazir-Medium-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/vazir/Vazir-Medium-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/vazir/Vazir-Medium-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/vazir/Vazir-Medium-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
	font-family: 'Vazir';
	font-weight: 300;
	src: url('../fonts/vazir/Vazir-Light-FD.eot'); /* IE9 Compat Modes */
	src: url('../fonts/vazir/Vazir-Light-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/vazir/Vazir-Light-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/vazir/Vazir-Light-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/vazir/Vazir-Light-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
	font-family: 'Vazir';
	font-weight: 400;
	src: url('../fonts/vazir/Vazir-Regular-FD.eot'); /* IE9 Compat Modes */
	src: url('../fonts/vazir/Vazir-Regular-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/vazir/Vazir-Regular-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/vazir/Vazir-Regular-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/vazir/Vazir-Regular-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
	font-family: 'Vazir';
	font-weight: 200;
	src: url('../fonts/vazir/Vazir-Thin-FD.eot'); /* IE9 Compat Modes */
	src: url('../fonts/vazir/Vazir-Thin-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/vazir/Vazir-Thin-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/vazir/Vazir-Thin-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/vazir/Vazir-Thin-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  /*___________________________________[ Sahel ]____________________________________*/

  @font-face {
	font-family: 'Sahel';
	font-weight: 900;
	src: url('../fonts/sahel/Sahel-Black-FD.eot'); /* IE9 Compat Modes */
	src: url('../fonts/sahel/Sahel-Black-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/sahel/Sahel-Black-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/sahel/Sahel-Black-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/sahel/Sahel-Black-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
	font-family: 'Sahel';
	src: url('../fonts/sahel/Sahel-Bold-FD.eot'); /* IE9 Compat Modes */
	src: url('../fonts/sahel/Sahel-Bold-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/sahel/Sahel-Bold-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/sahel/Sahel-Bold-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/sahel/Sahel-Bold-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }


  @font-face {
	font-family: 'Sahel';
	src: url('../fonts/sahel/Sahel-FD.eot'); /* IE9 Compat Modes */
	src: url('../fonts/sahel/Sahel-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/sahel/Sahel-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/sahel/Sahel-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/sahel/Sahel-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }


  @font-face {
	font-family: 'Sahel';
	src: url('../fonts/sahel/Sahel-Light-FD.eot'); /* IE9 Compat Modes */
	src: url('../fonts/sahel/Sahel-Light-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/sahel/Sahel-Light-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/sahel/Sahel-Light-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/sahel/Sahel-Light-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }


  @font-face {
	font-family: 'Sahel';
	src: url('../fonts/sahel/Sahel-SemiBold-FD.eot'); /* IE9 Compat Modes */
	src: url('../fonts/sahel/Sahel-SemiBold-FD.eot') format('embedded-opentype'), /* IE6-IE8 */
		   url('../fonts/sahel/Sahel-SemiBold-FD.woff2') format('woff2'), /* Super Modern Browsers */
		   url('../fonts/sahel/Sahel-SemiBold-FD.woff') format('woff'), /* Pretty Modern Browsers */
		   url('../fonts/sahel/Sahel-SemiBold-FD.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
